@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  background-color: #e6eff6;
  font-family: "Karla";
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
  height: 475px;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.joincommunity {
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 38%;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.joincommunity h1 {
  color: #2bb3b0;
  font-size: 24px;
}

.joincommunity h2 {
  color: #bfde32;
  font-size: 17px;
  margin-top: 16px;
}

.joincommunity p {
  color: #99a7be;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -2px;
}

.bottom {
  margin: auto;
  display: flex;
  height: 102%;
  width: 100%;
}

.payment {
  background-color: #2bb3b0;
  border-bottom-left-radius: 8px;
  height: 50%;
  width: 50%;
  padding-left: 35px;
  padding-right: 50px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

.payment h2 {
  color: #f6f6f6;
  font-size: 18px;
  margin-bottom: -10px;
}

.price {
  color: #f6f6f6;
  font-size: 30px;
  font-weight: 500;
}

span {
  color: #e6f0f5;
  font-size: 15px;
  font-weight: 200;
  margin-left: 5px;
}

.access {
  color: #f6f6f6;
  margin-top: -18px;
  font-weight: 300;
}

.signup {
  background-color: #bfdf32;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
  height: 42px;
  margin-top: 24px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.signup:hover {
  background-color: white;
  color: #bfdf32;
}

.about {
  background-color: #4cbfbd;
  border-bottom-right-radius: 8px;
  height: 50%;
  width: 50%;
  padding-left: 35px;
  padding-right: 50px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

.about h3 {
  color: white;
}

.about ul {
  color: white;
  margin-top: 5px;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}

.about li {
  margin-left: -40px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 11px;
  color: black;
  font-family: "Nunito Sans";
}

a:link {
  color: black;
}

a:visited {
  color: black;
}
